body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003459;
}
#title {
  margin: 1vh;
  color: #DF57BC;
  
}
h5 {
  font-size: x-large;
  text-align: center;
  
}
#gamecontainer {
  display: flex;
  background-color: #00a7e1;
  width: 95%;
  min-height: 900px;
  justify-content: space-between;
  margin-bottom: 2vh;
  border-radius: 2rem;
}
#playerside,
#computerside {
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 1vw;
  align-items: center;
}

#playergrid,
#computergrid {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  border: 3px solid black;
}
.gridcontainer {
  width: 90%;
}
#computerside, #playerside {
  width: 40%;
}

#playergrid > div {
  border: 3px solid black;
}
#computergrid > div {
  border: 3px solid black;
}
#turnbar {
  display: flex;
  width: 20vw;
  height: 4vh;
  justify-content: center;
  margin-top: 6vh;
}
#ycor {
  margin-right: 4vw;
  margin-left: 0.5vw;
  border-radius: 5px;
}
#xcor {
  border-radius: 5px;
}

#attackbutton {
  border-radius: 10px;
  background-color: #2a4d14;
  color: #ffffff;
  transition: all .5s ease-in-out;
}

.rulerx {
  display: flex;
  width: 90%;
  height: 4vh;
  justify-content: space-around;
}

.gridcontainer {
  display: flex;
}

.rulery {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
}

#shipdiv {
  height: 40vh;
  width: 20vw;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40vw;
  top: 30vh;
}
#shipdiv > div {
  background-color: #9f7e69;
  text-align: center;
  font-size: larger;
}

#carrierh {
  width: 100%;
  height: 20%;
}

#battleh {
  width: 80%;
  height: 20%;
}

#cruiserh {
  width: 60%;
  height: 20%;
}
#submarineh {
  width: 60%;
  height: 20%;
}
#destroyerh {
  width: 40%;
  height: 20%;
}

#carrierv {
  width: 20%;
  height: 100%;
  writing-mode: vertical-rl;
}

#battlev {
  width: 20%;
  height: 80%;
  writing-mode: vertical-rl;
  
}

#cruiserv {
  width: 20%;
  height: 60%;
  writing-mode: vertical-rl;
}
#submarinev {
  width: 20%;
  height: 60%;
  writing-mode: vertical-rl;
}
#destroyerv {
  width: 20%;
  height: 40%;
  writing-mode: vertical-rl;
}

.draggable {
  cursor: move;
}

.beingdragged {
  border: 3px solid black;
}

.hidden {
  display: none;
}

.selected {
  background-color: #2a4d14;
}
.shipplaced {
  background-color: #9f7e69;
}


#computergrid > .attackedlocation {
  border: 3px solid red;
}
#playergrid > .attackedlocation {
  border: 3px solid red;
}
.hitlocation {
  background-color: rgb(223, 102, 102);
}

.displaywinner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4vw;
  background-color: #2a4d14;
  position: absolute;
  height: 20vh;
  width: 40vw;
  font-size: 5vw;
  color: white;
}

.playagainbutton {
  height: 6vh;
  width: 10vw;
  position: absolute;
  background-color: #DF57BC;
  color: white;
  font-size: larger;
  font-weight: 900;
  border-radius: 4rem;
  top: 65vh
}

#instructions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 43%;
  right: 43%;
  text-align: center;
}
#rotatebutton:hover {
  cursor: pointer;
  
}
button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#instructions.hidden {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #gamecontainer {
    flex-direction: column;
    align-items: center;
  }
  #computergrid, #playergrid {
    height: 800px;
  }
  #computerside, #playerside {
    width: 90%;
  }
  #computergrid {
    margin-bottom: 80px;
  }
  .rulerx {width: 90%;}
  .rulery {
    height: 800px;
  }
  #shipdiv {
    top: 50%;
    width: 50%;
    height: 500px;
    left: 26%;
  }
  #instructions {
    position: unset;
    margin-top: 200px
  }
} 
@media only screen and (max-width: 500px) {
  #shipdiv {
    top: 90%;
    width: 50%;
    height: 500px;
    left: 26%;
  }
}