body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003459;

}
#title {
    margin: 1vh
}

#gamecontainer {
    display: flex;
    background-color: #00a7e1;
    width: 95vw;
    height: 90vh;
    justify-content: space-between;
    margin-bottom: 2vh;
}
#playerside, #computerside {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 1vw;
    align-items: center;
} 

#playergrid, #computergrid {
    display: grid;
    height: 60vh;
    width: 30vw;
    background-color: #ffffff;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
}

#playergrid > div {
    border: 1px solid black;
}
#computergrid > div {
    border: 1px solid black;
}
#turnbar {
    display: flex;
    width: 20vw;
    height: 4vh;
    justify-content: center;
    margin-top: 6vh;

}
#ycor {
    margin-right: 4vw;
    margin-left: .5vw;
    border-radius: 5px;

}
#xcor {
    border-radius: 5px;
}

#attackbutton {
    border-radius: 10px;
    background-color: #2A4D14;
    color: #ffffff;
}

.rulerx {
    display: flex;
    width: 30vw;
    height: 4vh;
    justify-content: space-around
}

.gridcontainer {
    display: flex;
}

.rulery {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
}


#shipdiv {
    height: 40vh;
    width: 20vw;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40vw;
    top: 11vh
    
}
#shipdiv > div {
    background-color: #9F7E69;
    text-align: center;
    font-size: larger;
    
}

#carrierh {
    width: 18.75vw;
    height: 7.5vh;
}

#battleh {
    width: 15vw;
    height: 7.5vh;

}

#cruiserh {
    width: 11.25vw;
    height: 7.5vh;
}
#submarineh {
    width: 11.25vw;
    height: 7.5vh; 
}
#destroyerh {
    width: 7.5vw;
    height: 7.5vh;
}

#carrierv {
    width: 3.75vw;
    height: 37.5vh;
}

#battlev {
    width: 3.75vw;
    height: 30vw;

}

#cruiserv {
    width: 3.75vw;
    height: 22.5vh;
}
#submarinev {
    width: 3.75vw;
    height: 15vh; 
}
#destroyerv {
    width: 3.75vw;
    height: 15vh;
}

.draggable {
    cursor: move;
}


.beingdragged {
    border: 3px solid black;
}

.hidden {
    display: none;
}

.selected {
    background-color: #2A4D14;
}



.blockerdivcarrierh {
    position: absolute;
    height: 10vh;
    width: 15vw;
    bottom: 64vh;
    right: 45vw;
}